@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply font-medium text-2xl lg:text-4xl;
    }
}

body {
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

@media screen(md) {
    body {
        padding-left: calc((100vw - 748px) / 2);
        padding-right: calc((100vw - 748px) / 2);
    }
}

@media screen(lg) {
    body {
        padding-left: calc((100vw - 1004px) / 2);
        padding-right: calc((100vw - 1004px) / 2);
    }
}
