@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    h2 {
        @apply font-medium text-2xl lg:text-4xl;
    }
}

@layer components {
    .card {
        @apply opacity-0 shadow-xl delay-500 duration-1000 opacity-100;
    }

    .navbar {
        opacity: 0;
        @apply transition duration-1000 opacity-100
    }
    
    @keyframes opacity {
        
    }
}

body {
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

@media screen(md) {
    body {
        padding-left: calc((100vw - 748px) / 2);
        padding-right: calc((100vw - 748px) / 2);
    }
}

@media screen(lg) {
    body {
        padding-left: calc((100vw - 1004px) / 2);
        padding-right: calc((100vw - 1004px) / 2);
    }
}
